@{ Layout = "_Layout";
    ViewData["Title"] = "Reset password confirmation"; }

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Reset password</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            Your password has been reset. Please <a href="/admin/login">click here to log in</a>.
        </p>
    </div>
</div>
