<div id="previewFile_Voc" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="previewFile-result" style="height:50em">
                    <object id="previewFile-obj" data="" style="width:100%;height:100%"></object>
                </div>
            </div>
        </div>
    </div>
</div>