@model List<TotalVOCSiteModel>
    <i class="fa fa-caret-right"></i> <strong>불량 유형별 상위 현황 (Tình trạng lỗi thực tế)</strong>
    <div class="row">
        @*<div class="col-md-12 col-lg-12 col-xl-4 d-flex">
            </div>*@
        <!-- Chart total by year-->
        <div class="col-md-6 d-flex">
            <div class="card flex-fill dash-statistics">
                <div class="card-header">
                    <h5 class="card-title mb-0">CSP</h5>
                </div>
                <div class="card-body">
                    <canvas id="chartBar_Defect_SAW"></canvas>
                </div>
            </div>
        </div>
        <!-- /Chart -->
        <!-- data -->
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">Module</h3>
                </div>
                <div class="card-body">
                    <div>
                        <canvas id="chartBar_Defect_Module" style="height:215px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
