@{
    Layout = "_Layout";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">User List</h3>
            </div>
        </div>
    </div>
</div>
