<!-- Add Nhan Vien Ca Lam Viec Modal -->
<div id="add_nhanvien_calamviecModel" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nhân Viên - Ca Làm Việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="_txtMaNV">Mã Nhân Viên<span class="text-danger">*</span></label>
                        <select id="_txtMaNV" class="form-control nested" required>
                            <option value="">Choose...</option>
                            <optgroup label="Group1">
                                <option selected="selected">orange</option>
                                <option>white</option>
                                <option>purple</option>
                            </optgroup>
                            <optgroup label="Group2">
                                <option>purple</option>
                                <option>orange</option>
                                <option>white</option>
                            </optgroup>
                            <optgroup label="Group3">
                                <option>white</option>
                                <option>purple</option>
                                <option>orange</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="_txtDmCaLviec">Chọn Ca Làm Việc<span class="text-danger">*</span></label>
                        <select id="_txtDmCaLviec" class="select" required>
                            <option>Daniel Porter</option>
                            <option>Roger Dixon</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="_txtFrom">Ngày Bắt Đầu Ca<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtFrom" class="form-control datetimepicker" type="text" required></div>
                    </div>
                    <div class="form-group">
                        <label for="_txtTo">Ngày Kết Thúc Ca<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtTo" class="form-control datetimepicker" type="text" required></div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Expense Modal -->
