@using Microsoft.AspNetCore.Authorization
@using HRMS.Authorization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject IAuthorizationService AuthorizationService
@model List<NhanVien_CalamViecViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        var deparment = JSON.parse('@Html.Raw(JsonSerializer.Serialize(User.FindFirst(x=>x.Type == "Deparment").Value+""))');
        var roleUsers = JSON.parse('@Html.Raw(JsonSerializer.Serialize(User.FindFirst(x => x.Type == "Roles").Value + ""))');
    </script>
    <script src="~/app/controllers/nhanvien_calamviec/index.js"></script>
    <script>
        var controller = new nhanvien_calamviecController();
        controller.initialize();

        onSuccess = controller.doAftersearch;

        $(document).ready(function () {
            var table = $('#nvCalamviecDataTable').DataTable({
                select: true,
                "searching": true,
                columnDefs: [{
                    targets: 0,
                    className: 'dt-body-center',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                    }
                }],
                "order": [10, 'asc']
            });
            $('input[type=search]').addClass('floating').removeClass('form-control-sm').css('width', 300).attr('placeholder', 'Type to search');
            $('select[name="nvCalamviecDataTable_length"]').removeClass('form-control-sm');

            // Handle click on "Select all" control
            $('#nvCalamviecDataTable-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#nvCalamviecDataTable tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('#nvCalamviecDataTable-select-all').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });

            // init select 2 jquery
            $(".nested").select2({
                tags: true
            });
        });
    </script>
}
@section Styles{
    <style>

        #btnCreate {
            float: none;
            margin-right: 10px;
        }

        #btnManagement {
            min-width: 150px;
            border-radius: 50px;
        }
    </style>
}

@{
    var pCreate = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.Create);
    var pDelete = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.Delete);
    var pUpdate = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.Update);
    var pApprove1 = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.ApproveL1);
    var pApprove2 = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.ApproveL2);
    var pApprove3 = await AuthorizationService.AuthorizeAsync(User, "SHIFT_SCHEDULE", Operations.ApproveL3);
}

<!-- Page Content -->
<div class="content container-fluid">

    @if (pCreate.Succeeded)
    {
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Shifts & Schedule - Xếp Lịch Làm Việc</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/chamcong/index">Time tracking</a></li>
                        <li class="breadcrumb-item active">Xếp lịch làm việc</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto" id="divCreateData">
                    <a href="#" id="btnCreate" class="btn add-btn" data-toggle="modal" data-target="#add_nhanvien_calamviecModel"><i class="fa fa-plus"></i> Đăng ký</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" id="btnManagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management</button>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="~/templates/ShifTemplate.xlsx">Lấy file đăng ký</a>
                            <a class="dropdown-item" href="#" id="btn-importShift">Đăng ký ca làm việc(Import)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
    }

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        </div>
    </div>

    <!-- Search Filter -->
    <form id="frmSearch" method="post" data-ajax="true" data-ajax-url="/Admin/NhanVien_CaLamViec/Search" data-ajax-loading="#spinner1" data-ajax-update="#gridNvienCalamviecIndex" data-ajax-mode='replace' data-ajax-success="onSuccess">
        <div class="row">

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select class="select floating" id="cboDepartment" name="department">
                        <option value=""> -- Select -- </option>
                        <option value="New">New</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                    </select>
                    <label class="focus-label">Deparment</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select class="select floating" id="searchStatus" name="status">
                        <option value=""> -- Select -- </option>
                        <option value="New">New</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                        <option value="N">Not approved yet</option>
                        <option value="Y">Approved</option>
                    </select>
                    <label class="focus-label">Status</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus">
                    <div class="cal-icon">
                        <input class="form-control floating datetimepicker" type="text" id="searchFromTime" name="timeFrom">
                    </div>
                    <label class="focus-label">From</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus">
                    <div class="cal-icon">
                        <input class="form-control floating datetimepicker" type="text" id="searchToTime" name="timeTo">
                    </div>
                    <label class="focus-label">To</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus"><button href="#" style="height:100%" class="btn btn-success btn-block" id="btnSearch" type="submit"> Search </button></div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                @if (pApprove3.Succeeded)
                {
                    <div class="form-group form-focus">
                        <a href="#" style="min-width: 120px; height: 100%" class="btn btn-primary" id="btnApprove" data-target="#approve_nhanVien_calviec">  Approve</a>
                        <a href="#" style="height: 100%" class="btn btn-primary" id="btnUnApprove" data-target="#unapprove_nhanVien_calviec">UnApprove</a>
                    </div>
                }
            </div>
        </div>
    </form>

    <div class="card-body" id="spinner1" style="text-align:center; display:none">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" id="gridNvienCalamviecIndex">
                @await Html.PartialAsync("_gridNhanVienCaLamViecPartialView", Model)
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Đang ký ca lam viec cho nhan vien -->
<partial name="_nhanvienCalamviecModelPartialView" />

<partial name="_settingTimeCalamviecModelPartialView" />

<!-- Delete Expense Modal -->
<div class="modal custom-modal fade" id="delete_nhanVien_calviec" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <input type="hidden" id="hdId_delete" />
                    <h3>Delete</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="btn-delete_nv_calamviec">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Expense Modal -->

<div class="modal custom-modal fade" id="approve_nhanVien_calviec" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <input type="hidden" id="hiIdApprove" />
                    <h3>Approve</h3>
                    <p>Are you sure want to approve?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="btn-approve_nv_calamviec">Approve</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="unapprove_nhanVien_calviec" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <input type="hidden" id="hiIdUnApprove" />
                    <h3>UnApprove</h3>
                    <p>Are you sure want to unapprove?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="btn-Unapprove_nv_calamviec">UnApprove</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- import excel model -->
<partial name="_ImportExcelModel" />

