
/****** Object:  UserDefinedTableType [dbo].[VOC_MST_TYPE]    Script Date: 2022-05-30 1:42:59 PM ******/
CREATE TYPE [dbo].[VOC_MST_TYPE] AS TABLE(
	[Received_site] [nvarchar](50) NULL,
	[PlaceOfOrigin] [nvarchar](50) NULL,
	[ReceivedDept] [nvarchar](50) NULL,
	[ReceivedDate] [nvarchar](50) NULL,
	[SPLReceivedDate] [nvarchar](50) NULL,
	[SPLReceivedDateWeek] [nvarchar](50) NULL,
	[Customer] [nvarchar](150) NULL,
	[SETModelCustomer] [nvarchar](100) NULL,
	[ProcessCustomer] [nvarchar](250) NULL,
	[ModelFullname] [nvarchar](50) NULL,
	[DefectNameCus] [nvarchar](500) NULL,
	[DefectRate] [nvarchar](50) NULL,
	[PBA_FAE_Result] [nvarchar](50) NULL,
	[PartsClassification] [nvarchar](50) NULL,
	[PartsClassification2] [nvarchar](50) NULL,
	[ProdutionDateMarking] [nvarchar](500) NULL,
	[AnalysisResult] [nvarchar](500) NULL,
	[VOCCount] [nvarchar](50) NULL,
	[DefectCause] [nvarchar](500) NULL,
	[DefectClassification] [nvarchar](100) NULL,
	[CustomerResponse] [nvarchar](500) NULL,
	[Report_FinalApprover] [nvarchar](50) NULL,
	[Report_Sender] [nvarchar](50) NULL,
	[Rport_sentDate] [nvarchar](50) NULL,
	[VOCState] [nvarchar](max) NULL,
	[VOCFinishingDate] [nvarchar](50) NULL,
	[VOC_TAT] [nvarchar](50) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[VOC_ONSITE_TYPE]    Script Date: 2022-05-30 1:42:59 PM ******/
CREATE TYPE [dbo].[VOC_ONSITE_TYPE] AS TABLE(
	[Month] [int] NOT NULL,
	[Week] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Customer] [nvarchar](50) NULL,
	[Part] [nvarchar](50) NULL,
	[Qty] [int] NOT NULL,
	[Wisol_Model] [nvarchar](50) NULL,
	[Customer_Code] [nvarchar](50) NULL,
	[Marking] [nvarchar](250) NULL,
	[ProductionDate] [nvarchar](50) NULL,
	[SetModel] [nvarchar](50) NULL,
	[Result] [nvarchar](10) NULL,
	[Note] [nvarchar](500) NULL,
	[OK] [nvarchar](10) NULL,
	[NG] [nvarchar](10) NULL,
	[Not_Measure] [nvarchar](10) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[VOC_PPM_TYPE]    Script Date: 2022-05-30 1:42:59 PM ******/
CREATE TYPE [dbo].[VOC_PPM_TYPE] AS TABLE(
	[Module] [nvarchar](50) NULL,
	[Customer] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Value] [float] NOT NULL,
	[TargetValue] [float] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[VOC_PPM_YEAR_TYPE]    Script Date: 2022-05-30 1:42:59 PM ******/
CREATE TYPE [dbo].[VOC_PPM_YEAR_TYPE] AS TABLE(
	[Year] [int] NOT NULL,
	[Module] [nvarchar](50) NULL,
	[TargetPPM] [float] NOT NULL
)
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_ROLE]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_ROLE](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NormalizedName] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_APP_ROLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_ROLE_CLAIM]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_ROLE_CLAIM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_APP_ROLE_CLAIM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[NormalizedUserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[NormalizedEmail] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[BirthDay] [datetime2](7) NULL,
	[Avatar] [nvarchar](max) NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
	[ShowPass] [nvarchar](max) NULL,
 CONSTRAINT [PK_APP_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER_CLAIM]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER_CLAIM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_APP_USER_CLAIM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER_LOGIN]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER_LOGIN](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
 CONSTRAINT [PK_APP_USER_LOGIN] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER_ROLE]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER_ROLE](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_APP_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER_TOKEN]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER_TOKEN](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_APP_USER_TOKEN] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCTION]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTION](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[URL] [nvarchar](250) NOT NULL,
	[ParentId] [nvarchar](128) NULL,
	[IconCss] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
 CONSTRAINT [PK_FUNCTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGE](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[Resources] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[FunctionId] [nvarchar](128) NOT NULL,
	[CanCreate] [bit] NOT NULL,
	[CanRead] [bit] NOT NULL,
	[CanUpdate] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CanExport] [bit] NOT NULL,
	[CanImport] [bit] NOT NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOC_DEFECT_TYPE]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOC_DEFECT_TYPE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EngsNotation] [nvarchar](250) NULL,
	[KoreanNotation] [nvarchar](250) NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
 CONSTRAINT [PK_VOC_DEFECT_TYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOC_MST]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOC_MST](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Received_site] [nvarchar](50) NULL,
	[PlaceOfOrigin] [nvarchar](50) NULL,
	[ReceivedDept] [nvarchar](50) NULL,
	[ReceivedDate] [nvarchar](50) NULL,
	[SPLReceivedDate] [nvarchar](50) NULL,
	[SPLReceivedDateWeek] [nvarchar](50) NULL,
	[Customer] [nvarchar](150) NULL,
	[SETModelCustomer] [nvarchar](100) NULL,
	[ProcessCustomer] [nvarchar](250) NULL,
	[ModelFullname] [nvarchar](50) NULL,
	[DefectNameCus] [nvarchar](500) NULL,
	[DefectRate] [nvarchar](50) NULL,
	[PBA_FAE_Result] [nvarchar](50) NULL,
	[PartsClassification] [nvarchar](50) NULL,
	[PartsClassification2] [nvarchar](50) NULL,
	[ProdutionDateMarking] [nvarchar](500) NULL,
	[AnalysisResult] [nvarchar](500) NULL,
	[VOCCount] [nvarchar](50) NULL,
	[DefectCause] [nvarchar](500) NULL,
	[DefectClassification] [nvarchar](100) NULL,
	[CustomerResponse] [nvarchar](500) NULL,
	[Report_FinalApprover] [nvarchar](50) NULL,
	[Report_Sender] [nvarchar](50) NULL,
	[Rport_sentDate] [nvarchar](50) NULL,
	[VOCState] [nvarchar](max) NULL,
	[VOCFinishingDate] [nvarchar](50) NULL,
	[VOC_TAT] [nvarchar](50) NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
	[LinkReport] [nvarchar](1000) NULL,
 CONSTRAINT [PK_VOC_MST] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOC_MST_BACKUP]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOC_MST_BACKUP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BackUpDate] [nvarchar](50) NULL,
	[Received_site] [nvarchar](50) NULL,
	[PlaceOfOrigin] [nvarchar](50) NULL,
	[ReceivedDept] [nvarchar](50) NULL,
	[ReceivedDate] [nvarchar](50) NULL,
	[SPLReceivedDate] [nvarchar](50) NULL,
	[SPLReceivedDateWeek] [nvarchar](50) NULL,
	[Customer] [nvarchar](150) NULL,
	[SETModelCustomer] [nvarchar](100) NULL,
	[ProcessCustomer] [nvarchar](250) NULL,
	[ModelFullname] [nvarchar](50) NULL,
	[DefectNameCus] [nvarchar](500) NULL,
	[DefectRate] [nvarchar](50) NULL,
	[PBA_FAE_Result] [nvarchar](50) NULL,
	[PartsClassification] [nvarchar](50) NULL,
	[PartsClassification2] [nvarchar](50) NULL,
	[ProdutionDateMarking] [nvarchar](500) NULL,
	[AnalysisResult] [nvarchar](500) NULL,
	[VOCCount] [nvarchar](50) NULL,
	[DefectCause] [nvarchar](500) NULL,
	[DefectClassification] [nvarchar](100) NULL,
	[CustomerResponse] [nvarchar](500) NULL,
	[Report_FinalApprover] [nvarchar](50) NULL,
	[Report_Sender] [nvarchar](50) NULL,
	[Rport_sentDate] [nvarchar](50) NULL,
	[VOCState] [nvarchar](max) NULL,
	[VOCFinishingDate] [nvarchar](50) NULL,
	[VOC_TAT] [nvarchar](50) NULL,
	[LinkReport] [nvarchar](1000) NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
 CONSTRAINT [PK_VOC_MST_BACKUP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOC_ONSITE]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOC_ONSITE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [int] NOT NULL,
	[Week] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Part] [nvarchar](50) NULL,
	[Customer_Code] [nvarchar](50) NULL,
	[Wisol_Model] [nvarchar](50) NULL,
	[Customer] [nvarchar](50) NULL,
	[Qty] [int] NOT NULL,
	[Marking] [nvarchar](250) NULL,
	[SetModel] [nvarchar](50) NULL,
	[OK] [nvarchar](10) NULL,
	[NG] [nvarchar](10) NULL,
	[Not_Measure] [nvarchar](10) NULL,
	[ProductionDate] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
	[Result] [nvarchar](10) NULL,
 CONSTRAINT [PK_VOC_ONSITE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOC_PPM]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOC_PPM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Module] [nvarchar](50) NULL,
	[Customer] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Value] [float] NOT NULL,
	[TargetValue] [float] NOT NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
 CONSTRAINT [PK_VOC_PPM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOC_PPM_YEAR]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOC_PPM_YEAR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Module] [nvarchar](50) NULL,
	[ValuePPM] [float] NOT NULL,
	[TargetPPM] [float] NOT NULL,
	[DateCreated] [nvarchar](50) NULL,
	[DateModified] [nvarchar](50) NULL,
	[UserCreated] [nvarchar](50) NULL,
	[UserModified] [nvarchar](50) NULL,
 CONSTRAINT [PK_VOC_PPM_YEAR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PERMISSION_FunctionId]    Script Date: 2022-05-30 1:42:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PERMISSION_FunctionId] ON [dbo].[PERMISSION]
(
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PERMISSION_RoleId]    Script Date: 2022-05-30 1:42:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PERMISSION_RoleId] ON [dbo].[PERMISSION]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERMISSION] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CanExport]
GO
ALTER TABLE [dbo].[PERMISSION] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CanImport]
GO
ALTER TABLE [dbo].[PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSION_APP_ROLE_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[APP_ROLE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PERMISSION] CHECK CONSTRAINT [FK_PERMISSION_APP_ROLE_RoleId]
GO
ALTER TABLE [dbo].[PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSION_FUNCTION_FunctionId] FOREIGN KEY([FunctionId])
REFERENCES [dbo].[FUNCTION] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PERMISSION] CHECK CONSTRAINT [FK_PERMISSION_FUNCTION_FunctionId]
GO
/****** Object:  StoredProcedure [dbo].[PKG_BUSINESS@PUT_VOC]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PKG_BUSINESS@PUT_VOC](
@A_USER NVARCHAR(50),
@A_DATA		VOC_MST_TYPE READONLY,
@N_RETURN			int				OUTPUT,
@V_RETURN			NVARCHAR(4000)	OUTPUT
)
AS
BEGIN TRY
		BEGIN
		    SET NOCOUNT OFF;  

			INSERT INTO [dbo].[VOC_MST_BACKUP]
			SELECT CAST(SYSDATETIME() AS DATE),
			       [Received_site] ,
				   [PlaceOfOrigin] ,
				   [ReceivedDept] ,
				   [ReceivedDate] ,
				   [SPLReceivedDate] ,
				   [SPLReceivedDateWeek] ,
				   [Customer],
				   [SETModelCustomer],
				   [ProcessCustomer] ,
				   [ModelFullname] ,
				   [DefectNameCus] ,
				   [DefectRate] ,
				   [PBA_FAE_Result] ,
				   [PartsClassification] ,
				   [PartsClassification2] ,
				   [ProdutionDateMarking],
				   [AnalysisResult],
				   [VOCCount],
				   [DefectCause],
				   [DefectClassification],
				   [CustomerResponse],
				   [Report_FinalApprover],
				   [Report_Sender],
				   [Rport_sentDate],
				   [VOCState],
				   [VOCFinishingDate],
				   [VOC_TAT],
				   [LinkReport],
				   [DateCreated],
				   [DateModified],
				   [UserCreated],
				   [UserModified]
			FROM [dbo].[VOC_MST]
			WHERE YEAR(CAST([ReceivedDate] AS date)) IN (
			SELECT YEAR(CAST([ReceivedDate] AS date)) FROM @A_DATA)

			DELETE [dbo].[VOC_MST]
			WHERE YEAR(CAST([ReceivedDate] AS date)) IN (
			SELECT YEAR(CAST([ReceivedDate] AS date)) FROM @A_DATA)

			INSERT INTO [dbo].[VOC_MST]
			SELECT 
				    [Received_site]
				    ,[PlaceOfOrigin]
				    ,[ReceivedDept]
				    ,[ReceivedDate]
				    ,[SPLReceivedDate]
				    ,[SPLReceivedDateWeek]
				    ,[Customer]
				    ,[SETModelCustomer]
				    ,[ProcessCustomer]
				    ,[ModelFullname]
				    ,[DefectNameCus]
				    ,[DefectRate]
				    ,[PBA_FAE_Result]
				    ,[PartsClassification]
				    ,[PartsClassification2]
				    ,[ProdutionDateMarking]
				    ,[AnalysisResult]
				    ,[VOCCount]
				    ,[DefectCause]
				    ,[DefectClassification]
				    ,[CustomerResponse]
				    ,[Report_FinalApprover]
				    ,[Report_Sender]
				    ,[Rport_sentDate]
				    ,[VOCState]
				    ,[VOCFinishingDate]
				    ,[VOC_TAT] , 
					 SYSDATETIME(),
					 SYSDATETIME(),
					  @A_USER,
					  @A_USER,
					  ''
			FROM @A_DATA

			MERGE [dbo].[VOC_MST] AS TARGET
			USING [dbo].[VOC_MST_BACKUP] AS SOURCE
						ON (
						      TARGET.Received_site = SOURCE.Received_site AND
							  TARGET.PlaceOfOrigin = SOURCE.PlaceOfOrigin AND
							  TARGET.ReceivedDept = SOURCE.ReceivedDept AND
							  TARGET.ReceivedDate = SOURCE.ReceivedDate AND
							  TARGET.ModelFullname = SOURCE.ModelFullname
							)
						WHEN MATCHED THEN UPDATE SET
								 TARGET.LinkReport	= SOURCE.LinkReport;

       END
	SET @N_RETURN = 0;
	SET @V_RETURN = 'MSG_COM_004';
END TRY
	BEGIN CATCH
  SET @N_RETURN = ERROR_NUMBER();
  SET @V_RETURN = ERROR_MESSAGE();
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PKG_BUSINESS@PUT_VOC_ONSITE]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PKG_BUSINESS@PUT_VOC_ONSITE](
@A_USER NVARCHAR(50),
@A_DATA		VOC_ONSITE_TYPE READONLY,
@N_RETURN			int				OUTPUT,
@V_RETURN			NVARCHAR(4000)	OUTPUT
)
AS
BEGIN TRY
		BEGIN
		    SET NOCOUNT OFF;  

			INSERT INTO [dbo].[VOC_ONSITE]
			SELECT 
					 [Month]
					,[Week]
					,[Date]
					,[Part]
					,[Customer_Code]
					,[Wisol_Model]
					,[Customer]
					,[Qty]
					,[Marking]
					,[SetModel]
					,[OK]
					,[NG]
					,[Not_Measure]
					,[ProductionDate]
					,[Note]
					,SYSDATETIME()
					,SYSDATETIME()
					,@A_USER
					,@A_USER
					,[Result]
			FROM @A_DATA
						
       END
	SET @N_RETURN = 0;
	SET @V_RETURN = 'MSG_COM_004';
END TRY
	BEGIN CATCH
  SET @N_RETURN = ERROR_NUMBER();
  SET @V_RETURN = ERROR_MESSAGE();
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PKG_BUSINESS@PUT_VOC_PPM]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PKG_BUSINESS@PUT_VOC_PPM](
@A_USER NVARCHAR(50),
@A_DATA		VOC_PPM_TYPE READONLY,
@N_RETURN			int				OUTPUT,
@V_RETURN			NVARCHAR(4000)	OUTPUT
)
AS
BEGIN TRY
		BEGIN
		    SET NOCOUNT OFF;  

						MERGE [dbo].[VOC_PPM] AS TARGET
						USING @A_DATA AS SOURCE
						ON (
						      TARGET.Module = SOURCE.Module AND
							  TARGET.Customer = SOURCE.Customer AND
							  TARGET.[Type] = SOURCE.[Type] AND
							  TARGET.[Year] = SOURCE.[Year] AND
							  TARGET.[Month] = SOURCE.[Month]
							)
						WHEN MATCHED THEN UPDATE SET
								 TARGET.[Value]	=  SOURCE.[Value],
								  TARGET.[TargetValue] = SOURCE.[TargetValue],
								   TARGET.[DateModified] = 	SYSDATETIME(),
									TARGET.[UserModified]  = @A_USER
						WHEN NOT MATCHED BY TARGET 
						    THEN INSERT ([Module],[Customer],[Type],[Year],[Month],[Value],[TargetValue],[DateCreated],[DateModified],[UserCreated],[UserModified])
							VALUES(SOURCE.Module,SOURCE.Customer,SOURCE.[Type],SOURCE.[Year],SOURCE.[Month],SOURCE.[Value],SOURCE.[TargetValue],SYSDATETIME(),SYSDATETIME(),@A_USER,@A_USER) ;
						
       END
	SET @N_RETURN = 0;
	SET @V_RETURN = 'MSG_COM_004';
END TRY
	BEGIN CATCH
  SET @N_RETURN = ERROR_NUMBER();
  SET @V_RETURN = ERROR_MESSAGE();
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[PKG_BUSINESS@PUT_VOC_PPM_YEAR]    Script Date: 2022-05-30 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PKG_BUSINESS@PUT_VOC_PPM_YEAR](
@A_USER NVARCHAR(50),
@A_DATA		VOC_PPM_YEAR_TYPE READONLY,
@N_RETURN			int				OUTPUT,
@V_RETURN			NVARCHAR(4000)	OUTPUT
)
AS
BEGIN TRY
		BEGIN
		    SET NOCOUNT OFF;  

						MERGE [dbo].[VOC_PPM_YEAR] AS TARGET
						USING @A_DATA AS SOURCE
						ON (
						      TARGET.Module = SOURCE.Module AND
							  TARGET.[Year] = SOURCE.[Year]
							)
						WHEN MATCHED THEN UPDATE SET
								  TARGET.TargetPPM = SOURCE.TargetPPM,
								   TARGET.[DateModified] = 	SYSDATETIME(),
									TARGET.[UserModified]  = @A_USER
						WHEN NOT MATCHED BY TARGET 
						    THEN INSERT ([Year],[Module],[ValuePPM],[TargetPPM],[DateCreated],[DateModified],[UserCreated],[UserModified])
							VALUES(SOURCE.[Year],SOURCE.Module,0,SOURCE.TargetPPM,SYSDATETIME(),SYSDATETIME(),@A_USER,@A_USER) ;
						
       END
	SET @N_RETURN = 0;
	SET @V_RETURN = 'MSG_COM_004';
END TRY
	BEGIN CATCH
  SET @N_RETURN = ERROR_NUMBER();
  SET @V_RETURN = ERROR_MESSAGE();
END CATCH
GO
USE [master]
GO
