@using Microsoft.AspNetCore.Authorization
@using HRMS.Authorization
@inject IAuthorizationService AuthorizationService
@model List<ChamCongLogViewModel>
@{
    ViewData["Title"] = "Time and Attendance";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script>
        var deparment = JSON.parse('@Html.Raw(JsonSerializer.Serialize(User.FindFirst(x=>x.Type == "Deparment").Value+""))');
        var roleUsers = JSON.parse('@Html.Raw(JsonSerializer.Serialize(User.FindFirst(x => x.Type == "Roles").Value + ""))');
    </script>

    <script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/app/controllers/chamcong/chamCongMns.js"></script>*@
    <script>
        var controller = new chamCongController();
        controller.initialize();

        onSuccess = controller.doAftersearch;
        onBeginAjax = controller.beginSearch;

        $(document).ready(function () {

            var table = $('#chamCongLogDataTable').DataTable({
                select: true,
                initComplete: function () {
                    this.api().columns([1, 2, 3, 4, 7, 8, 9]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">All</option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    });
                },
                columnDefs: [{
                    targets: 0,
                    className: 'dt-body-center',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                    }
                }],
                "order": [13, 'asc']
            });

            $('input[type=search]').addClass('floating').removeClass('form-control-sm').css('width', 300).attr('placeholder', 'Type to search');
            $('select[name="chamCongLogDataTable_length"]').removeClass('form-control-sm');

            // Handle click on "Select all" control
            $('#chamCongLogDataTable-select-all').on('click', function () {
                // Get all rows with search applied
                var rows = table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#chamCongLogDataTable tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('#chamCongLogDataTable-select-all').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });

            $('.bs-timepicker').timepicker();

            $('#btnSearch').submit();

            // Approve
            $('#btnApprove').on('click', function (e) {

                e.preventDefault();
                $('#hiIdApprove').val(0);
                $('#approve_overtime').modal('show');
            });

            // Approve
            $('#btn-approve_overtime').on('click', function (e) {

                e.preventDefault();

                var code = $('#hiIdApprove').val();
                var ids = [];

                if (code == '0') {
                    // Iterate over all checkboxes in the table
                    let arrV = $($.fn.dataTable.tables(true)).DataTable().$('input[type="checkbox"]');
                    arrV.each(function () {
                        // If checkbox is checked
                        if (this.checked) {
                            ids.push(this.value);
                        }
                    });
                }
                else {
                    ids.push(code);
                }

                if (ids.length == 0) {
                    hrms.notify('error: Choose item for approve', 'error', 'alert', function () { });
                    return;
                }

                $.ajax({
                    url: '/Admin/ChamCong/ApproveAction',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        lstID: ids,
                        action: 'approve'
                    },
                    success: function (response) {

                        $('#approve_overtime').modal('hide');
                        hrms.notify("Update success!", 'Success', 'alert', function () {
                            location.reload();
                        });
                    },
                    error: function (status) {
                        console.log(status.responseText);
                        hrms.notify('error:' + status.responseText, 'error', 'alert', function () { });
                    }
                });
            });
        });
    </script>
}
@section Styles{
    <style>
        #btnCreate {
            float: none;
            margin-right: 10px;
        }

        #btnManagement {
            min-width: 150px;
            border-radius: 50px;
        }
    </style>
}
<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Time Tracking/Dữ Liệu Chấm Công Hàng Ngày</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/home/index">Home</a></li>
                    <li class="breadcrumb-item active">Time and Attendance</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" id="btnGetLog" class="btn add-btn"><i class="fa fa-arrow-circle-down"></i>Update Log Time</a>

                @if (User.FindFirst(x => x.Type == "Roles").Value.Split(';').Length > 0 &&
(User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "Admin" || User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "HR"))
                {
                    <a href="#" id="btnGetLogBiostar" class="btn add-btn"><i class="fa fa-arrow-circle-down"></i>Sync Biostar</a>
                }

                @if (User.FindFirst(x => x.Type == "Roles").Value.Split(';').Length > 0 &&
                (User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "Admin" || User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "HR" || User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "AssLeader" || User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "HR_Payroll"))
                {
                    <div class="btn-group" style="margin-right:5px">
                        <button type="button" class="btn btn-info dropdown-toggle" id="btnManagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management</button>
                        <div class="dropdown-menu" style="">
                            @*<a class="dropdown-item" href="~/templates/LogTimeTemplate.xlsx">Get import Template</a>
                    <a class="dropdown-item" href="#" id="btn-importAttendance">Import Log Time</a>*@
                            <a class="dropdown-item" href="#" id="btnExportData">Xuất data search</a>
                            <a class="dropdown-item" href="#" id="btnExportAbsenceData">DS Chấm Công Lỗi</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <form id="frmSearch" method="post" data-ajax="true" data-ajax-url="/Admin/ChamCong/Search" data-ajax-update="#gridChamCongIndex" data-ajax-mode='replace' data-ajax-success="onSuccess" data-ajax-begin="onBeginAjax">
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select id="cboResultStauts" name="result" class="select floating">
                        <option value="" selected>--All--</option>
                        <option value="Miss_In">Miss In</option>
                        <option value="Miss_Out">Miss Out</option>
                        <option value="NonWorking">Non working</option>
                        <option value="InWorking">In Working</option>
                        <option value="LateIn">Late In</option>
                        <option value="Early_Out">Early Out</option>
                        <option value="Absence">Absence</option>
                        <option value="Normal">Normal</option>
                    </select>
                    <label class="focus-label">Result</label>
                </div>

                <div class="form-group form-focus select-focus">
                    <select id="cboRequestApprove" name="requestApprove" class="select floating">
                        <option value="" selected>--All--</option>
                        <option value="Request">Request</option>
                        <option value="Approve">Approve</option>
                    </select>
                    <label class="focus-label">Request/Approve</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select id="cboBoPhan" name="dept" class="select floating">
                    </select>
                    <label class="focus-label">Deparment</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <input id="txtMaNV" name="maNV" class="form-control floating" type="text" />
                    <label class="focus-label">User Id</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus">
                    <div class="cal-icon">
                        <input id="txtTimeFrom" name="fromTime" class="form-control floating datetimepicker" type="text">
                    </div>
                    <label class="focus-label">From</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus">
                    <div class="cal-icon">
                        <input id="txtTimeTo" name="toTime" class="form-control floating datetimepicker" type="text">
                    </div>
                    <label class="focus-label">To</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <button id="btnSearch" type="submit" class="btn btn-success btn-block"> Search </button>
                @if (User.FindFirst(x => x.Type == "Roles").Value.Split(';').Length > 0 &&
                (User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "HR" ||
                User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "Admin"))
                {
                    <a href="#" style="min-width: 100px; margin-top:10px" class="btn btn-info" id="btnApprove" data-target="#approve_overtime">  Approve</a>
                }
            </div>
        </div>
    </form>
    <!-- /Search Filter -->
    @*<div class="row" style="margin-bottom:10px">
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                  @if (User.FindFirst(x => x.Type == "Roles").Value.Split(';').Length > 0 &&
        (User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "GrLeader" ||
        User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "KRManager" ||
        User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "HR" ||
        User.FindFirst(x => x.Type == "Roles").Value.Split(';')[0] == "Admin"))
                  {
                      <a href="#" style="min-width: 120px" class="btn btn-info" id="btnApprove" data-target="#approve_overtime">  Approve</a>
                      <a href="#" class="btn btn-info" id="btnUnApprove" data-target="#unapprove_overtime">UnApprove</a>
                  }
              </div>
          </div>*@

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" id="gridChamCongIndex">
                @await Html.PartialAsync("_gridChamCongPartialView", Model)
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->
<!-- Attendance Modal -->
<div class="modal custom-modal fade" id="attendance_info" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblTitle">Attendance Info : </h5>
                <h5 class="modal-title" id="lblTitleId">Attendance Info : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="text-align:center"><p class="text-muted" id="lblNgayChamCong">11 Mar 2019</p></div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card punch-status">
                            <div class="card-body">
                                <h5 class="card-title">Timesheet </h5>
                                <div class="punch-det">
                                    <h6>Punch In at</h6>
                                    <p id="lblBeginTime">Wed, 11th Mar 2019 10.00 AM</p>
                                </div>
                                <div class="punch-info">
                                    <div class="punch-hours">
                                        <span id="lblTotalTimeInDay">3.45 hrs</span>
                                    </div>
                                </div>
                                <div class="punch-det">
                                    <h6>Punch Out at</h6>
                                    <p id="lblEndTime">Wed, 20th Feb 2019 9.00 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card recent-activity">
                            <div class="card-body">
                                <h5 class="card-title">Activity</h5>
                                <ul class="res-activity-list" id="slActivity">
                                    <li>
                                        <p class="mb-0">Punch In at</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            10.00 AM.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Punch Out at</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            11.00 AM.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Punch In at</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            11.15 AM.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Punch Out at</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            1.30 PM.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Punch In at</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            2.00 PM.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="mb-0">Punch Out at</p>
                                        <p class="res-activity-time">
                                            <i class="fa fa-clock-o"></i>
                                            7.30 PM.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Attendance Modal -->
<!-- Edit cham cong -->
<div id="addEditChamCongModel" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update log time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmChamCongAddEdit">
                    <div class="form-group">
                        <label for="_txtMaNV">Mã Nhân Viên<span class="text-danger">*</span></label>
                        <input id="_txtMaNV" class="form-control" name="maNV" type="text" readonly>
                    </div>
                    <div class="form-group">
                        <label for="_txtTenNV">Tên Nhân Viên<span class="text-danger">*</span></label>
                        <input id="_txtTenNV" class="form-control" name="tenNV" type="text" readonly>
                    </div>
                    <div class="form-group">
                        <label for="_txtdate">Ngày Chấm Công<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtdate" class="form-control datetimepicker" name="ngayChamCong" type="text" required></div>
                    </div>
                    <div class="form-group">
                        <label for="_txtfirstTime">Thời gian Vào<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtfirstTime" class="form-control bs-timepicker" name="firstTime" type="text" required></div>
                    </div>
                    <div class="form-group">
                        <label for="_txtlastTime">Thời gian Ra<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtlastTime" class="form-control bs-timepicker" name="lastTime" type="text" required></div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" id="btnSave_ChamCong">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="approve_overtime" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <input type="hidden" id="hiIdApprove" />
                    <h3>Approve</h3>
                    <p>Are you sure want to approve?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="btn-approve_overtime">Approve</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Add Expense Modal -->
<!-- import excel model -->
<partial name="_ImportExcelModel" />
