@model NhanVienProfileModel
<h3 class="card-title">Social Insurance<a href="#" class="edit-icon" data-toggle="modal" data-target="#bhxh_infor_modal" id="btn-UpdateBHXH"><i class="fa fa-edit"></i></a></h3>
<ul class="personal-info">
    <li>
        <div class="title">Mã BHXH</div>
        <div class="text">@Model.MaBHXH</div>
    </li>
    <li>
        <div class="title">Ngày Tham Gia</div>
        <div class="text">@Model.NgayThamGia</div>
    </li>
    <li>
        <div class="title">Ngày Kết thúc</div>
        <div class="text">@Model.NgayKetThuc</div>
    </li>
</ul>