<div id="bank_info_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Bank Informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" data-ajax="true" data-ajax-confirm="Are you sure you want update this?" data-ajax-url="/admin/nhanVien/UpdateProfileBasic?model=3" data-ajax-update="#id-profile-Bank-Info" data-ajax-mode='replace' data-ajax-success="UpdateOnsuccess">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tên Ngân Hàng</label>
                                <input class="form-control" type="text" name="TenNganHang" id="txtTenNganHang">
                                <input type="hidden" name="MaNhanVien" id="id-BankInfo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số Tài Khoản Ngân Hàng</label>
                                <input class="form-control" type="text" name="SoTaiKhoanNH" id="txtSoTaiKhoanNH">
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>