@model NhanVienProfileModel
<h3 class="card-title">Labor discipline<a href="#" class="edit-icon" data-toggle="modal" data-target="#LaborDiscipline_infor_modal" id="btn-Update-KyLuatLaoDong"><i class="fa fa-pencil"></i></a></h3>
<ul class="personal-info">
    <li>
        <div class="title">Kỷ Luật Lao Động</div>
        <div class="text">@Model.KyLuatLaoDong</div>
    </li>
</ul>