@model NhanVienProfileModel
<h3 class="card-title">Emergency Contact <a href="#" class="edit-icon" data-toggle="modal" data-target="#emergency_contact_modal" id="btn-UpdateEmergency"><i class="fa fa-edit"></i></a></h3>
<ul class="personal-info">
    <li>
        <div class="title">Quan hệ</div>
        <div class="text">@Model.QuanHeNguoiThan</div>
    </li>
    <li>
        <div class="title">Số Điện Thoại Người Thân</div>
        <div class="text">@Model.SoDienThoaiNguoiThan</div>
    </li>
</ul>