@model NhanVienProfileModel  
<h3 class="card-title">Quit work<a href="#" class="edit-icon" data-toggle="modal" data-target="#quitWork_infor_modal" id="btn-updateQuitwork"><i class="fa fa-edit"></i></a></h3>
<ul class="personal-info">
    <li>
        <div class="title">Thời gian nghỉ việc</div>
        <div class="text">@Model.NgayNghiViec</div>
    </li>
</ul>