@model List<NhanVienViewModel>
@{
    if (ViewData["Title"] == null)
    {
        ViewData["Title"] = "Danh sách nhân viên";
    }

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/app/controllers/nhanvien/index.js"></script>*@
    <script>
        var nhanvienJs = new nhanVienController();
        nhanvienJs.initialize();

        onSuccess = nhanvienJs.doAftersearch;

        $(document).ready(function () {
            $('#nhanVienDataTable').DataTable({
                "order": [9, 'asc']
            });
            $('input[type=search]').addClass('floating').removeClass('form-control-sm').css('width', 300).attr('placeholder', 'Type to search.');
            $('select[name="nhanVienDataTable_length"]').removeClass('form-control-sm');
        });
    </script>
}

@section Styles{
    <style>

        #btnCreate {
            float: none;
            margin-right: 10px;
        }

        #btnImport {
            min-width: 150px;
            border-radius: 50px;
        }
    </style>
}

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">@ViewData["Title"]</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Employees</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" id="btnCreate" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" id="btnImport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Excel</button>
                    <div class="dropdown-menu" style="">
                        <a class="dropdown-item" href="~/templates/EmployeeTemplate.xlsx">File mẫu thông tin nhân viên</a>
                        <a class="dropdown-item" href="~/templates/Employee_Detail_Template.xlsx">File mẫu hợp đồng</a>
                        <a class="dropdown-item" href="#" id="btn-import">Import thông tin nhân viên</a>
                        <a class="dropdown-item" href="#" id="btn-import-contract">Import hợp đồng</a>
                        <a class="dropdown-item" href="#" id="btn-export">Export thông tin nhân viên</a>
                        <a class="dropdown-item" href="~/templates/ThongTinChucVuNsu.xlsx" id="btn-exportChucVu2">File thông tin phân Loại NV</a>
                        <a class="dropdown-item" href="#" id="btn-importChucVu2">Import thông tin phân Loại NV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Search Filter -->
    <form method="get" hidden="hidden" data-ajax="true" data-ajax-url="/Admin/NhanVien/OnGetPartialData" data-ajax-update="#gridNhanVien" data-ajax-mode='replace'>
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <button id="btnSearch" type="submit" class="btn btn-success btn-block"> Search </button>
            </div>

        </div>
    </form>
    <!-- /Search Filter -->

    <div id="myHeader">
        <form method="post" data-ajax="true" data-ajax-url="/Admin/NhanVien/Search" data-ajax-update="#gridNhanVien" data-ajax-mode='replace' data-ajax-success="onSuccess">
            <div class="row filter-row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                    <div class="form-group form-focus select-focus">
                        <select class="select floating" name="searchSelect" id="cboChedo">
                            <option value="">ALL</option>
                            <option value="TS">Thai Sản</option>
                            <option value="KTS">Khác</option>
                        </select>
                        <label class="focus-label">Chế Độ</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-2">
                        <button id="btnSearchEx" type="submit" class="btn btn-success btn-block"> Search </button>
                    </div>
                </div>
        </form>
    </div>

    <!-- /Search Filter -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" id="gridNhanVien">
                @await Html.PartialAsync("_NhanVienGridPartial", Model)
            </div>
        </div>
    </div>
</div>

<!-- Add Employee Modal -->
<partial name="_AddEditEmployeeModel" />
<!-- /Add Employee Modal -->
<!-- Edit Employee Modal -->
<!--<partial name="_EditEmployeeModel" />-->
<!-- /Edit Employee Modal -->
<!-- Delete Employee Modal -->
<partial name="_DeleteEmployeeModel" />
<!-- /Delete Employee Modal -->

<partial name="_ImportExcelModel" />

<partial name="_UpdateCodeEmployeeModel" />
