@model NhanVienProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <!-- Timeline JS -->
    <script src="~/plugins/timeline/horizontal-timeline.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/app/controllers/nhanvien/profile-managerment.js"></script>
    <script>
        var profileMng = new ProfileMng();
        profileMng.initialize();
        // profileMng.InitLoaiHopDong();
        // Close popup when update data oke
        var UpdateOnsuccess = function () {
            $('#profile_info').modal('hide');
            $('#personal_info_modal').modal('hide');
            $('#bank_info_modal').modal('hide');
            $('#emergency_contact_modal').modal('hide');
            $('#bhxh_infor_modal').modal('hide');
            $('#phepNam_infor_modal').modal('hide');
            $('#quitWork_infor_modal').modal('hide');
            $('#LaborDiscipline_infor_modal').modal('hide');
            $('#quatrinhCtac_infor_modal').modal('hide');
          
            hrms.notify("Update success!", 'Success', 'alert', function () {
            });
        }

        var reloadJs = function() {
            
        }
        
        // reload select js after submit
        var ReloadPageOnsuccess = function () {
            hrms.notify("Update success!", 'Success', 'alert', function () {
                location.reload();
                /*$('#link-hopDong_tab').click();*/
            });
        }

    </script>
}

@section Styles{
    <style>
        .page-wrapper {
            min-height: 641px;
        }

        #phepNam-data-model {
            max-height: 420px;
        }
    </style>
}
<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/nhanvien/index">Employees</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a id="btnSelectImg" href="#"><img alt="" id="imgAvatar" src="@Model.Avartar"></a>
                                <input type="file" id="fileInputImage" style="display:none" />
                                <input type="hidden" data-id="@Model.MaNhanVien" id="hdMaNV" />
                            </div>
                        </div>
                        <div class="profile-basic" id="id-profile-basic">
                            @await Html.PartialAsync("_profilebasicPartial", Model)
                        </div>
                        <div class="pro-edit"><a data-target="#profile_info" data-toggle="modal" class="edit-icon" href="#" id="btn-UpdateProfileBasic" data-id="@Model.MaNhanVien"><i class="fa fa-pencil"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card tab-box">
        <div class="row user-tabs">
            <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    <li class="nav-item"><a href="#emp_profile" data-toggle="tab" class="nav-link active">Sơ Yếu Lý Lịch</a></li>
                    <li class="nav-item"><a href="#emp_ttHoSo" data-toggle="tab" class="nav-link">Tình Trạng Hồ Sơ</a></li>
                    <li class="nav-item"><a href="#quatrinhCongTacTab" data-toggle="tab" class="nav-link">Quá Trình Làm Việc</a></li>
                    <li class="nav-item"><a href="#contract-info-Tab" id="link-hopDong_tab" data-toggle="tab" class="nav-link">Hợp Đồng <small class="text-danger">(Admin Only)</small></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <!-- Profile Info Tab -->
        <div id="emp_profile" class="pro-overview tab-pane fade show active">
            <div class="row">
                <div class="col-md-12 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-Personal-Info">
                            @await Html.PartialAsync("_profilePersonalInfoPartial", Model)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-Bank-Info">
                            @await Html.PartialAsync("_profileBankInfoPartial", Model)
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-Emergency-Info">
                            @await Html.PartialAsync("_profileEmergencyContactPartial", Model)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-bhxh-Info">
                            @await Html.PartialAsync("_profileSocialInsurancePartial", Model)
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-compassionateLeave-info">
                            @await Html.PartialAsync("_profileCompassionateLeavePartial", Model.phepNams)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-quitwork-Info">
                            @await Html.PartialAsync("_profileQuitWorkPartial", Model)
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card profile-box flex-fill">
                        <div class="card-body" id="id-profile-kyluatLD-Info">
                            @await Html.PartialAsync("_profileLabordisciplinePartial", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Profile Info Tab -->
        <!-- Projects Tab -->
        <div class="tab-pane fade" id="emp_ttHoSo">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                    <div class="table-responsive" id="id-profile-TinhTrangHoSo">
                        @await Html.PartialAsync("_profileTinhTrangHoSoPartial", Model.tinhTrangHoSo)
                    </div>
                </div>
            </div>
        </div>

        <!-- Qua trình công tác -->
        <div class="tab-pane fade" id="quatrinhCongTacTab">
            @await Html.PartialAsync("_profileQuaTrinhCtacPartial", Model.quaTrinhLamViecs)
        </div>
        <!-- /Projects Tab -->
        <!-- Bank Statutory Tab -->
        <div class="tab-pane fade" id="contract-info-Tab">
            <div class="card">
                <div class="card-body" id="id-profile-HopDong-info">
                    @await Html.PartialAsync("_profileContractInfoPartial", Model.hopDongs)
                </div>
            </div>
        </div>
        <!-- /Bank Statutory Tab -->

    </div>
</div>
<!-- /Page Content -->
<!-- Profile Modal -->
<partial name="_profile_info_Model" />
<!-- /Profile Modal -->
<!-- Personal Info Modal -->
<partial name="_profilePersonalInfoModel" />
<!-- /Personal Info Modal -->
<!-- Bank Info Modal -->
<partial name="_profileBankInfoModel" />
<!-- /Bank Info Modal -->
<!-- Emergency Contact Modal -->
<partial name="_profileEmergencyContactModel" />
<!-- /Emergency Contact Modal -->
<!-- BHXH Modal -->
<partial name="_profileSocialInsuranceModel" />
<!-- /BHXH Modal -->
<!--Phep nam-->
@await Html.PartialAsync("_profileCompassionateLeaveModel", Model.phepNams)

<!-- Quit work -->
<partial name="_profileQuitWorkModel" />

<partial name="_profileLabordisciplineModel" />

@*<partial name="_profileCompassionateLeaveModel" />*@
<!-- Education Modal -->
<div id="quatrinhCtac_infor_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Work flow</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="quatrinhCtac_content_modal">
                @await Html.PartialAsync("_profileQuaTrinhCtacModel", Model.quaTrinhLamViecs)
            </div>
        </div>
    </div>
</div>
<!-- /Education Modal -->
<!-- Template area -->
<!-- header information -->
<partial name="_pfCommonInfoTemplate" />
<partial name="_pfPhepNamTemplate" />