@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule
@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script>
    </script>
}
@section Styles{
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.47/fluent.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.3.47/dist/ej2.min.js"></script>
}
@{
    var dataManager = new DataManager()
    {
        Url = "LoadData",
        Adaptor = "UrlAdaptor",
        CrudUrl = "UpdateData",
        CrossDomain = true
    };
}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Calendar</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/home/index">Home</a></li>
                    <li class="breadcrumb-item active">Calendar</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Calendar -->
                            <ejs-schedule id="schedule" currentView="Month" timezone="Asia/Saigon" height="700" selectedDate="DateTime.Now" actionBegin="onActionBegin" eventRendered="onEventRendered">
                                <e-schedule-views>
                                    <e-schedule-view option="Day" displayName="Day"></e-schedule-view>
                                    <e-schedule-view option="Week" displayName="Week"></e-schedule-view>
                                    <e-schedule-view option="Month" displayName="Month"></e-schedule-view>
                                    <e-schedule-view option="Year" interval="12" displayName="Year"></e-schedule-view>
                                    <e-schedule-view option="Agenda" agendaDaysCount="7" eventTemplate="<div class='template-wrap'><div class='subject'>${Subject}</div></div>" allowVirtualScrolling="false"></e-schedule-view>
                                    <e-schedule-view option="MonthAgenda" displayName="MonthAgenda"></e-schedule-view>
                                </e-schedule-views>
                                <e-schedule-eventsettings dataSource="dataManager"></e-schedule-eventsettings>
                            </ejs-schedule>
                            <!-- /Calendar -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function onActionBegin(args) {
        console.log(args);
        if (args.requestType === 'eventCreate') { //while creating new event 
            console.log(args);

            if (args.data.length > 0) {
                args.data[0].Id = "00000000-0000-0000-0000-000000000000";
                args.addedRecords[0].Id = "00000000-0000-0000-0000-000000000000";
            }
        }
    }

    function onEventRendered(args) {
        console.log(args);
        var scheduleObj = document.getElementById('schedule').ej2_instances[0];
        var categoryColor = '#42a5f5';

        if (args.data.RoomId == 0 || !args.data.RoomId) {
            categoryColor = '#42a5f5';
        }
        else if (args.data.RoomId == 1) {
            categoryColor = '#ef5350';
        }
        else if (args.data.RoomId == 2) {
            categoryColor = '#ffb300';
        }
        else if (args.data.RoomId == 3) {
            categoryColor = '#4caf50';
        }

        if (!args.element || !categoryColor) {
            return;
        }
        if (scheduleObj.currentView === 'Agenda' || scheduleObj.currentView == 'MonthAgenda') {
            (args.element.firstChild).style.borderLeftColor = categoryColor;
        } else {
            args.element.style.backgroundColor = categoryColor;
        }
    }
        
</script>