
<div id="add_thaisanModel" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thai sản con nhỏ</h5>
                <input type="hidden" id="hd_thaisan" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmThaisan_AddEdit">
                    <div class="form-group">
                        <input type="hidden" id="_txtId" />
                        <label for="_txtMaNV">Mã Nhân Viên<span class="text-danger">*</span></label>
                        <select id="_txtMaNV" class="form-control nested" name="MaNV" required>
                            <option value="">Choose...</option>
                            <optgroup label="Group1">
                                <option selected="selected">orange</option>
                                <option>white</option>
                                <option>purple</option>
                            </optgroup>
                            <optgroup label="Group2">
                                <option>purple</option>
                                <option>orange</option>
                                <option>white</option>
                            </optgroup>
                            <optgroup label="Group3">
                                <option>white</option>
                                <option>purple</option>
                                <option>orange</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="_txtCheDo">Chế Độ<span class="text-danger">*</span></label>
                        <select id="_txtCheDo" class="select" name="CheDoThaiSan" required>
                            <option value="" selected>--Select--</option>
                            <option value="ThaiSan">Thai sản</option>
                            <option value="MangBau">Mang Bầu</option>
                            <option value="ConNho1H">Con nhỏ - Về sớm 1H(Không trừ về sớm,Tính OT)</option>
                            <option value="ConNho">Con nhỏ - Về đúng giờ(Không tính OT, đi muộn 1H)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="_txtFrom">Ngày Bắt Đầu<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtFrom" class="form-control datetimepicker" name="FromDate" type="text" required></div>
                    </div>
                    <div class="form-group">
                        <label for="_txtTo">Ngày Kết Thúc<span class="text-danger">*</span></label>
                        <div class="cal-icon"><input id="_txtTo" class="form-control datetimepicker" name="ToDate" type="text" required></div>
                    </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" id="btnSaveThaiSan">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

