
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Payroll/Views/Shared/_Layout.cshtml";
}

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Payroll Management System</h3>
            </div>
        </div>
    </div>
</div>

