@model List<TotalVOCSiteModel>
<div class="row">
    <div class="col-sm-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active"><i class="fa fa-caret-right"></i> <strong>@Model.FirstOrDefault()?.Year.ToString().Substring(2)년 Total VOC 건수그래프 (제품 생산 Site 기준)</strong></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-4 d-flex">
    </div>
    <!-- Chart total by year-->
    <div class="col-md-12 col-lg-12 col-xl-4 d-flex">
        <div class="card flex-fill dash-statistics">
            <div class="card-header">
                <h5 class="card-title mb-0">SAW</h5>
            </div>
            <div class="card-body">
                <canvas id="chartBar_Defect_SAW"></canvas>
            </div>
        </div>
    </div>
    <!-- /Chart -->
    <!-- data -->
    <div class="col-md-4 d-flex">
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h3 class="card-title mb-0">Module</h3>
            </div>
            <div class="card-body">
                <div>
                    <canvas id="chartBar_Defect_Module" style="height:215px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
