@model List<VOCSiteModelByTimeLst>
<div class="row">
    <div class="col-sm-12">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active"><i class="fa fa-caret-right"></i><strong>VOC Count(진성 유/무)</strong></li>
        </ul>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <!-- Chart -->
        <div class="col-md-6 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title mb-0">VOC Count(진성 유/무)</h5>
                </div>
                <div class="card-body">
                    <div id="s-col-stacked-Count_WHC"></div>
                </div>
            </div>
        </div>
        <!-- /Chart -->
        <!-- DATA -->
        <div class="col-md-6 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h3 class="card-title mb-0">VOC Count(진성 유/무)</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover mb-0 table-striped custom-table datatable" id="@string.Format("tableCount_{0}",item.DivisionLst)">
                            <thead>
                                <tr>
                                    <th>@item.DivisionLst</th>
                                    @foreach (string timeHeader in item.TimeHeader)
                                    {
                                        <th>
                                            @timeHeader
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Classifi in item.PartsClassifications)
                                {
                                    <tr>
                                        <td>@Classifi</td>
                                        @foreach (VOCSiteModelByTime row in item.vOCSiteModelByTimes)
                                        {
                                            @if (row.Classification == Classifi)
                                            {
                                                <td>
                                                    @row.Qty
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

