@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/OpeationMns/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        .display-4 {
            text-align: center;
        }
    </style>
}

<div class="content container-fluid">
    <h1 class="display-4">Welcome OMN system</h1>
</div>

