@using Microsoft.AspNetCore.Identity
@using VOC.Data.Entities
@using VOC.Extensions
@using Microsoft.AspNetCore.Authorization
@using VOC.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<APP_USER> SignInManager
@inject UserManager<APP_USER> UserManager

<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
    <span class="user-img">
        <img src="@User.GetSpecificClaim("Avatar")" alt="" onerror="this.onerror=null;this.src='~/img/user.jpg';">
        <span class="status online"></span>
    </span>
    <span>@User.GetSpecificClaim("FullName")</span>
</a>
<div class="dropdown-menu">

    @if (!User.IsInRole("Staff"))
    {
    <a class="dropdown-item" href="/admin/account/register">Register</a>
    }
    <a class="dropdown-item" href="/admin/account/resetpassword?userName=@User.GetSpecificClaim("UserName")">Reset password</a>
    <form action="/Admin/Account/Logout" method="post" id="logoutForm">
        <button id="btnLogout" type="submit" class="dropdown-item">Logout</button>
    </form>
</div>
